.page {
    padding: 0px;
    margin: 0px;
}

.menu {
    display: inline-block;
    width: 300px;
    min-height: 100vh;
    vertical-align: top;
}

.content {
    display: inline-block;
    width: calc(100% - 300px);
    min-height: 100vh;
    vertical-align: top;
}