<div class="page">
    <div class="menu">
        <app-menu></app-menu>
    </div>
    <div class="content">
        <div class="col-24">
            <app-top-panel></app-top-panel>
        </div>
        <div class="col-24">
            <app-content></app-content>
        </div>
        <div class="col-24">
            <app-footer></app-footer>
        </div>
    </div>
</div>