<button routerLink="/lists/loanedbook">Najpožičiavanejšie knihy</button>
<button routerLink="/lists/loanedauthor">Najpožičiavanejší autori</button>
<button routerLink="/lists/loanedcategory">Najpožičiavanejšia kategória</button>
<button routerLink="/lists/loanedtime">Najväčší čitatelia</button>
<button routerLink="/lists/bycategory">Najviac kníh v kategóriach</button>
<button routerLink="/lists/publishedcat">Najviac vydaných kníh</button>
<button routerLink="/lists/publishedtime">Kategória najviac vydaných kníh</button>
<button routerLink="/lists/usertype">Preferencie podľa typu užívateľa</button>
<button routerLink="/lists/notreturned">Najnevracanejšie knihy</button>
<button routerLink="/lists/timeloaned">Najdlhšie čítané knihy</button>
<br><br>
<router-outlet></router-outlet>