<div *ngIf="!loading">
    <div class="col-6">
        <img src="/assets/img/user.jpg" *ngIf="!profile.image">
        <img [src]="profile.image" *ngIf="profile.image">
    </div>
    <div class="col-16">
        <br>
        <h2>{{ profile.NAME}} {{ profile.LASTNAME }}</h2>
        <h4>{{ profile.MAIL }}</h4>
        <br>
        <h4>{{ profile.ADDRESS }}, {{ profile.PSC }} {{ profile.CITY }}</h4>
        <div class="inp-group">
            <select id="privilege" [(ngModel)]="newUserPrivilege">
                <option value="0" disabled>Typ...*</option>
                <option value="{{ item.ID_PRIVILEGE }}" *ngFor="let item of privilege" [disabled]="item.PRIVILEGE < user.getPrivilege()">{{ item.NAME }}</option>
            </select>
        </div>
        <div class="inp-group">
            <select id="type" [(ngModel)]="newUserType">
                <option value="0" disabled>Typ...*</option>
                <option value="{{ item.ID_USERTYPE }}" *ngFor="let item of usertype">{{ item.TYPE }}</option>
            </select>
        </div>
        <h4 *ngIf="!platnost" class="error">NEZAPLATENÝ POPLATOK</h4>
        <br>
        <div>
            <button class="dark" (click)="setPrivilege()">Nastaviť práva/typ</button>
            <button routerLink="/loan/{{ id }}">Požičať knihu</button>
        </div>
    </div>
</div>

<app-table
    [title]="'Rezervované knihy'"
    [header]="rezervavaneHeader"
    [data]="rezervovane"
    [perPage]="5"
    [buttons]="true"
    [buttonsVar]="rezervovaneButton"
    [link]="true"
    [linkUrl]="'/detail/'"
    [linkPar]="'COLECTIONID'"
    *ngIf="!loading"
></app-table>

<app-table
    [title]="'Požičané knihy'"
    [header]="pozicaneHeader"
    [data]="pozicane"
    [perPage]="5"
    [buttons]="true"
    [buttonsVar]="pozicaneButton"
    [link]="true"
    [linkUrl]="'/detail/'"
    [linkPar]="'COLECTIONID'"
    *ngIf="!loading"
></app-table>

<app-table
    [title]="'História požičaní'"
    [header]="historiaHeader"
    [data]="historia"
    [perPage]="5"
    [link]="true"
    [linkUrl]="'/detail/'"
    [linkPar]="'COLECTIONID'"
    *ngIf="!loading"
></app-table>

<app-table
    [title]="'Platby'"
    [header]="platbyHeader"
    [data]="platby"
    [perPage]="5"
    *ngIf="!loading"
></app-table>