<div class="col-12 col-offset-6">
    <br>
    <h2>Prihlásenie</h2>
    <br>
    <div class="inp-group">
        <input id="mail" [(ngModel)]="mail" required="">
        <label for="mail">Prihlasovací mail</label>
    </div>
    <div class="inp-group">
        <input id="password" [(ngModel)]="password" required="" type="password">
        <label for="password">Heslo</label>
    </div>
    <h5>Po prihlásení sa odblokujú niektoré možnosti.</h5>
    <div class="text-center">
        <button (click)="submit()">Prihlásiť sa</button>
    </div> 
</div>