<div>
    <div class="inp-group col-5">
        <input id="address" [(ngModel)]="dateFrom" required="">
        <label for="address">Dátum od</label>
    </div>
    <div class="inp-group col-5">
        <input id="address" [(ngModel)]="dateTo" required="">
        <label for="address">Dátum do</label>
    </div>
</div>
<div>
    <button class="dark" (click)="load()">Načítaj</button>
</div>
<app-table
    [title]="'Prehľad'"
    [header]="header"
    [data]="data"
    [perPage]="5"
    *ngIf="!loading"
></app-table>