/* You can add global styles to this file, and also import other style files */

body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: #F8F8F8;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    margin: 0px;
}

.dots {
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
}

h1, h2, h3, h4, h5, h6 {
    padding: 5px;
    margin: 0px;
    font-weight: bold;
    color: #333333;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

hr {
    width: 90%;
    border: 3px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(to left, #EFEFEF, #222222, #EFEFEF);
}

button {
    display: inline-block;
    padding: 5px 20px;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: #EFEFEF;
    border: 2px solid #333333;
    border-radius: 8px;
    color: #333333;
}

button:hover {
    background-color: #DEDEDE;
    cursor: pointer;
}

button.dark {
    color: #EFEFEF;
    background-color: #555555;
}

button.dark:hover {
    background-color: #444444;
}

button.error {
    color: #EFEFEF;
    background-color: #E43B3B;
}

button.error:hover {
    background-color: #D32A3A;
}


button.warning {
    color: #555555;
    background-color: #E4B73B;
}

button.warning:hover {
    background-color: #D3A62A;
}


button.success {
    color: #555555;
    background-color: #3BE43B;
}

button.success:hover {
    background-color: #2AD32A;
}


/*
 * Defaultny styl pre inputy
 * Pouzitie:
 * <div class="inp-group">
 *      <input id="nejake_id" required="">
 *      <label for="nejake_id">Text pre input</label>
 * </div>
 */

input, textarea, select {
    margin: 7px 0px;
    padding: 10px 25px 5px 25px;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to left, #EEEEEE, #777777, #777777, #777777, #EEEEEE);
    border-radius: 10px;
    resize: none;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

.inp-group {
	position: relative;
}

.inp-group label {
    cursor: text;
	position:absolute;
	top: 10px;
	left: 25px;
	font-size: 16px;
    color: #555555;
	transition: all 0.5s ease-in-out;
    display: inline-block;
}

.inp-group input:focus ~ label,
.inp-group input:valid ~ label,
.inp-group textarea:focus ~ label,
.inp-group textarea:valid ~ label,
.inp-group select:focus ~ label,
.inp-group select:valid ~ label {
	top: -4px;
	font-size: 12px;
    color: #333333;
}