<h1>{{ title }}</h1>
<table>
    <tr class="head" *ngFor="let item of header; index as idxF">
        <th *ngFor="let i of keys; index as idx" [class.first]="idx == 0 && idxF == 0" [class.last]="idx == keys.length - 1 && idxF == 0 && !buttons">
            {{ item[i] }}
        </th>
        <th *ngIf="buttons" class="last">
            Akcie
        </th>
    </tr>
    <tr *ngIf="search">
        <td [attr.colspan]="keys.length + 1" *ngIf="buttons">
            <input [(ngModel)]="searchVar" (ngModelChange)="onChange()">
        </td>
        <td [attr.colspan]="keys.length" *ngIf="!buttons">
            <input [(ngModel)]="searchVar" (ngModelChange)="onChange()">
        </td>
    </tr>
    <tr *ngFor="let item of data; index as idx" [hidden]="idx >= perPage * page || idx < perPage * (page - 1)">
        <td *ngFor="let i of keys">
            <a *ngIf="link" routerLink="{{ linkUrl }}{{ item[linkPar] }}">{{ item[i] }}</a>
            <span *ngIf="!link">{{ item[i] }}</span>
        </td>
        <td *ngIf="buttons">
            <button *ngFor="let bt of buttonsVar" (click)="bt.param != undefined ? bt.action(item[bt.param]) : bt.action(item)">{{ bt.text }}</button>
        </td>
    </tr>
</table>
<div *ngIf="data.length > 0">
    <button class="dark" (click)="prev()"><fa-icon [icon]="faPrev"></fa-icon></button>
    <button>{{ page }} / {{ math.ceil(this.data.length / this.perPage) }}</button>
    <button class="dark" (click)="next()"><fa-icon [icon]="faNext"></fa-icon></button>
</div>
<div *ngIf="data.length == 0">
    <h4>Žiadne záznamy</h4>
</div>
<hr>
