table {
    width: 100%;
    background-color: #EFEFEF;
    border-collapse: collapse;
}

h1 {
    padding-bottom: 15px;
}

th {
    text-align: center;
    padding: 10px 10px;
    font-size: 18px;
    background-color: #BBBBBB;
}

th.first {
    border-top-left-radius: 5px;
}

th.last {
    border-top-right-radius: 5px;
}

tr:nth-child(2n) {
    background-color: #FEFEFE;
}

td {
    text-align: center;
    padding: 10px 10px;
}

div {
    padding: 10px;
    text-align: center;
}

button {
    margin: 0px 5px;
}

input {
    width: 90%;
    padding-bottom: 3px;
    padding-top: 3px;
    margin: 0px;
}

a {
    display: block;
    text-decoration: none;
    color: #333333;
}