<div class="col-24">
    <div class="inp-group">
        <input id="search" required="" (ngModelChange)="onChange()" [(ngModel)]="searchText">
        <label for="search"><fa-icon [icon]="faSearch"></fa-icon>Hľadaj knihu...</label>
    </div>
</div>