.top {
    background: #CCCCCC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right bottom, #EEEEEE, #DDDDDD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right bottom, #EEEEEE, #DDDDDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #222222;
    border-bottom: 1px solid #777777;
    border-image-slice: 1;
    border-width: 2px;
    //border-image-source: linear-gradient(to left, #EEEEEE, #444444, #DDDDDD);
    padding: 10px 20px;
}