<div class="col-24">
    <div class="top">
        <div class="col-18">
            <app-top-search></app-top-search>
        </div>
        <div class="col-6">
            <app-top-settings></app-top-settings>
        </div>
    </div>
</div>