<div class="col-24">
    <div *ngFor="let item of books; index as i" class="col-12">
        <app-book-coll
            [index]="i"
            [id_collection]="item.ID_COLLECTION"
            [title]="item.TITLE"
            [description]="item.DESCRIPTION"
            [id_author]="item.ID_AUTHOR"
            [auth_name]="item.AUTHOR"
            [isbn]="item.ISBN"
            [publisher]="item.PUBLISHER"
            [year]="item.YEAR"
            [image]="item.image"
        ></app-book-coll>
    </div>
</div>