.outer {
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: #F8F8F8;
    width: calc(100% - 300px);
    //height: 60px;
}

.inner {
    width: calc(100% - 80px);
    margin-bottom: 10px;
    margin-left: 20px;
    color: #EFEFEF;
    font-size: 16px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    background: #222222;
    background: -webkit-linear-gradient(to right bottom, #111111, #333333);
    background: linear-gradient(to right bottom, #111111, #333333);
    box-shadow: 10px 10px 10px #ccc, -10px 10px 10px #ccc, -10px -10px 10px #ccc, 10px -10px 10px #ccc;
}