<div class="col-24 text-center" *ngIf="user.isLogged()">
    <div class="photo">
        <img src="/assets/img/user.jpg" *ngIf="!user.getImage()">
        <img [src]="user.getImage()" *ngIf="user.getImage()">
    </div>
    <div class="user">
        <div><fa-icon [icon]="faUser"></fa-icon> {{ user.getName() }} {{ user.getLastName() }}</div>
    </div>
    <div class="links">
        <a routerLink="/user-settings">Nastavenia</a> / <a routerLink="/logout">Odhlásiť</a>
    </div>
</div>
<div class="col-24 text-center" *ngIf="!user.isLogged()">
    <div class="links">
        <a routerLink="/login">Prihlásenie</a> / <a routerLink="/register">Registrácia</a>
    </div>
</div>