.photo {
    padding-top: 10px;
}
.photo img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 2px solid #FFF;
}

.user {
    padding: 10px;
    font-size: 20px;
}

.links {
    padding: 10px;
    font-size: 18px;
}

a {
    color: #EFEFEF;
    text-decoration: none;
}

a:hover {
    color: #DEDEDE;
}