<div class="col-12 col-offset-6">
    <br>
    <h2>Nastavenia účtu</h2>
    <br>

    <div class="inp-group">
        <input type="file" (change)="onChangeFile($event)">
    </div>
    <div class="inp-group">
        <input id="name" [(ngModel)]="name" required="">
        <label for="name">Meno *</label>
    </div>
    <div class="inp-group">
        <input id="last_name" [(ngModel)]="last_name" required="">
        <label for="last_name">Priezvisko *</label>
    </div>
    <div class="inp-group">
        <input id="mail" [(ngModel)]="mail" required="">
        <label for="mail">Mail *</label>
    </div>
    <div class="inp-group">
        <input id="password" [(ngModel)]="password" type="password" required="">
        <label for="password">Heslo</label>
    </div>
    <div class="inp-group">
        <input id="password_ag" [(ngModel)]="password_ag" type="password" required="">
        <label for="password_ag">Heslo znova</label>
    </div>
    <div class="inp-group">
        <input id="address" [(ngModel)]="address" required="">
        <label for="address">Ulica a číslo *</label>
    </div>
    <div class="inp-group">
        <input id="city" [(ngModel)]="city" required="">
        <label for="city">Mesto *</label>
    </div>
    <div class="inp-group">
        <input id="postal_code" [(ngModel)]="postal_code" required="">
        <label for="postal_code">Poštové smerové číslo *</label>
    </div>

    <h5>Polia označené ( * ) sú povinné.</h5>
    <h5>Heslo/obrázok bude zmenené/ý len ak bude vyplnené/ý!</h5>
    <br>
    <div class="text-center">
        <button (click)="submit()">Zmeniť nastavenia</button>
    </div>  
</div>