<button routerLink="/reports/all">Prehľad</button>
<button routerLink="/reports/payusertype">Platby podľa typu užívateľa</button>
<button routerLink="/reports/paycity">Platby podľa mesta</button>
<button routerLink="/reports/debtusertype">Dlhy podľa typu užívateľa</button>
<button routerLink="/reports/debtcity">Dlhy podľa mesta</button>
<button routerLink="/reports/payname">Platby podľa mena užívateľa</button>
<button routerLink="/reports/paytype">Platby podľa typu platby</button>
<button routerLink="/reports/profitusertype">Zisk podľa typu užívateľa</button>
<button routerLink="/reports/profitmonth">Zisk podľa mesiacov</button>
<button routerLink="/reports/countcategory">Voľné miesta v knižnici</button>
<br><br>
<router-outlet></router-outlet>