div.out {
    padding: 20px;
    padding-bottom: 60px;
}

div div {
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #CCC, -10px 10px 10px #CCC;
}