.outer {
    padding: 10px;
}

.frame {
    border: 1px solid #CCCCCC;
    padding: 10px;
    border-radius: 5px;
}

img {
    width: 240px;
    height: 350px;
    border-radius: 5px;
}

.book-box {
    padding: 10px 0px;
}

.desc {
    font-weight: 18px;
    text-align: justify;
}

a {
    color: #333333;
    text-decoration: none;
}