<div class="outer">
    <div class="frame">
        <div class="col-8 img-box">
            <img src="assets/img/noBookImg{{index % 5}}.jpg" *ngIf="!image">
            <img [src]="image" *ngIf="image">
        </div>
        <div class="col-14 col-offset-1 book-box">
            <h3 class="dots"><a routerLink="/detail/{{id_collection}}" *ngIf="user.getPrivilege() >= 2">{{ title}}</a><span *ngIf="user.getPrivilege() < 2">{{ title }}</span></h3>
            <h4>{{ year }} - {{ publisher }}</h4>
            <h5>ISBN: {{ isbn }}</h5>
            <h5>Autor: {{ auth_name }}</h5>
            <div>
                <button *ngIf="user.isLogged()" (click)="reserve()">Rezervovať</button>
            </div>
            <div class="desc">
                {{ description | slice:0:600 }}
                <span *ngIf="description && description.length > 600">...</span>
            </div>
        </div>
    </div>
</div>

