.menu {
    position: fixed;
    top: 0px;
    left: 0px;
    background: #222222;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right bottom, #222222, #111111);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right bottom, #222222, #111111); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100vh;
    width: 300px;
    color: #EFEFEF;
}

.menu-items a {
    display: block;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: #EFEFEF;
    text-decoration: none;
}

.menu-items a:hover {
    cursor: pointer;
    color: #CDCDCD;
}

.menu-items a fa-icon {
    padding-right: 10px;
}

hr {
    width: 90%;
    border: 3px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(to left, #222222, #EFEFEF, #222222);
}