<div class="menu">
    <br>
    <hr>
    <app-logo></app-logo>
    <hr>
    <app-user-in-menu></app-user-in-menu>
    <hr>
    <div class="menu-items col-24">
        <a routerLink="/home"><fa-icon [icon]="faHome"></fa-icon> Domov</a>
        <a routerLink="/search"><fa-icon [icon]="faBook"></fa-icon> Knihy</a>
        <a routerLink="/my-books" *ngIf="user.isLogged()"><fa-icon [icon]="faBook"></fa-icon> Moje knihy</a>
        <a routerLink="/pays" *ngIf="user.isLogged()"><fa-icon [icon]="faPay"></fa-icon> Platby</a>
        <a routerLink="/lists"><fa-icon [icon]="faRank"></fa-icon> Rebríčky</a>
        <a routerLink="/users" *ngIf="user.getPrivilege() > 1"><fa-icon [icon]="faUsers"></fa-icon> Uživatelia</a>
        <a routerLink="/reports" *ngIf="user.getPrivilege() > 1"><fa-icon [icon]="faList"></fa-icon> Reporty</a>
        <!--<hr>
        <a (click)="updateDatabase()"><fa-icon [icon]="faData"></fa-icon> Aktualizuj dat.</a>
        <a (click)="resetDatabase()"><fa-icon [icon]="faData"></fa-icon> Vyresetuj dat.</a>-->
    </div>
    <hr>
</div>