<div>
    <div class="inp-group col-5">
        <input id="year" [(ngModel)]="year" required="">
        <label for="year">Rok</label>
    </div>
    <div class="inp-group col-5">
        <input id="month" [(ngModel)]="month" required="">
        <label for="month">Mesiac (nepovinné)</label>
    </div>
</div>
<div>
    <button class="dark" (click)="load()">Načítaj</button>
</div>
<app-table
    [title]="'Prehľad'"
    [header]="header"
    [data]="data"
    [perPage]="10"
    *ngIf="!loading"
></app-table>