<div class="col-12 col-offset-6">
    <br>
    <h2>Pridať kolekciu kníh</h2>
    <br>
    <div class="inp-group">
        <input id="title" [(ngModel)]="title" required="">
        <label for="title">Názov</label>
    </div>
    <div class="inp-group">
        <input id="isbn" [(ngModel)]="isbn" required="">
        <label for="isbn">ISBN</label>
    </div>
    <div class="inp-group">
        <input id="author" [(ngModel)]="author" required="">
        <label for="author">Autor</label>
    </div>
    <div class="inp-group">
        <input id="publisher" [(ngModel)]="publisher" required="">
        <label for="publisher">Vydavateľstvo</label>
    </div>
    <div class="inp-group">
        <input id="year" [(ngModel)]="year" required="" type="number">
        <label for="year">Rok</label>
    </div>
    <div class="inp-group">
        <textarea id="description" [(ngModel)]="description" required="" rows="4"></textarea>
        <label for="description">Popis</label>
    </div>
    <div class="inp-group">
        <input type="file" (change)="onChangeFile($event)">
    </div>
    <img *ngIf="file" [src]="file">
    <br>
    <div class="text-center">
        <button (click)="submit()">Pridať</button>
    </div>  
</div>