<div *ngIf="!loading">
    <div class="col-6">
        <img src="/assets/img/noBookImg0.jpg" *ngIf="!book.image">
        <img [src]="book.image" *ngIf="book.image">
    </div>
    <div class="col-16">
        <br>
        <br>
        <br>
        <h2>{{ book.TITLE}}</h2>
        <h4>ISBN: {{ book.ISBN }}</h4>
        <br>
        <h4>Vydanie: {{ book.YEAR }}, {{ book.PUBLISHER }}</h4>
        <h4>Voľné knihy: <span [hidden]="pocet < 1">{{ pocet }}</span><span class="error" [hidden]="pocet > 0">{{ pocet }}</span></h4>
        <div>
            <br>
            <div class="inp-group col-8">
                <input id="rack" [(ngModel)]="rack" required="">
                <label for="rack">Knižnica</label>
            </div>
            <div class="inp-group col-8">
                <input id="rack_num" [(ngModel)]="rack_num" required="" type="number">
                <label for="rack_num">Polička</label>
            </div>
            <div class="col-14 text-center">
                <button (click)="addBook()">Pridať knihu</button>
            </div>
        </div>
        <h5>{{ book.DESCRIPTION }}</h5>
    </div>
</div>

<app-table
    [title]="'Pozície voľných kníh v knižnici'"
    [header]="volneHeader"
    [data]="volne"
    [perPage]="5"
    [buttons]="true"
    [buttonsVar]="volneButton"
    *ngIf="!loading"
></app-table>

<app-table
    [title]="'Rezervované knihy'"
    [header]="rezervavaneHeader"
    [data]="rezervovane"
    [perPage]="5"
    [buttons]="true"
    [buttonsVar]="rezervovaneButton"
    [link]="true"
    [linkUrl]="'/profile/'"
    [linkPar]="'ID_USER'"
    *ngIf="!loading"
></app-table>

<app-table
    [title]="'Požičané knihy'"
    [header]="pozicaneHeader"
    [data]="pozicane"
    [perPage]="5"
    [buttons]="true"
    [buttonsVar]="pozicaneButton"
    [link]="true"
    [linkUrl]="'/profile/'"
    [linkPar]="'ID_USER'"
    *ngIf="!loading"
></app-table>

<app-table
    [title]="'História požičaní'"
    [header]="historiaHeader"
    [data]="historia"
    [perPage]="5"
    [link]="true"
    [linkUrl]="'/profile/'"
    [linkPar]="'ID_USER'"
    *ngIf="!loading"
></app-table>